h1 {
    text-align: center;
}

.board { 
    background-color: blue;
    border: 2px solid navy;
    height: 590px; 
    width: 660px; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
    position: relative;
}

.piece {
   border: 2px solid navy; 
   height: 70px; 
   width: 70px; 
   border-radius: 50%;
   margin: 10px;
   background-color: white; 
}

.resetButton {
   margin-top: 20px; 
   margin-left: 45%; 
}
