/* color board --> blue */
/* no color to divs? 42 spaces */
/* add color pieces (red & yellow */
h1 {
    text-align: center;
    margin-bottom: 60px;
}

.board { 
    background-color: blue;
    height: 500px; 
    width: 600px; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
}